* {
  font-family: 'Alata', sans-serif;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  width: 80%;
  min-height: 100%;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 35px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*Start landig Page*/
.landing {
  min-height: 100vh;
  background-image: url("../imgs/image-hero.jpg");
  background-repeat: no-repeat;
  color: white;
  position: relative;
  z-index: 10;
}

.landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.landing .header {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 5;
}

.landing .header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 160px;
}

.landing .header nav .logo {
  width: 40%;
  font-family: 'Josefin Sans', sans-serif;
}

.landing .header nav .logo p {
  font-weight: 900;
  font-size: 46px;
  letter-spacing: -2px;
}

.landing .header nav .nav-links {
  width: 60%;
}

.landing .header nav .nav-links ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  font-family: 'Alata', sans-serif;
}

.landing .header nav .nav-links ul li {
  margin-right: 25px;
  padding-bottom: 8px;
  position: relative;
}

.landing .header nav .nav-links ul li a {
  color: white;
  font-weight: 600;
  font-size: 15px;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}

.landing .header nav .nav-links ul li a:hover {
  padding-bottom: 6px;
  border-bottom: 2px solid white;
}

.landing .header nav .nav-links ul li:nth-child(5) {
  margin-right: 0;
}

.landing .header .header-info {
  border: 2px solid white;
  width: 60%;
  margin-top: 60px;
  margin-bottom: 60px;
}

.landing .header .header-info p {
  font-size: 70px;
  padding: 38px;
  text-transform: uppercase;
}

/*End landig Page*/
/* Start leader*/
.leader {
  min-height: 100vh;
  padding-bottom: 20px;
}

.leader .leader-vr {
  width: 100%;
  height: 100%;
}

.leader .leader-vr .leader-contents {
  width: 100%;
  margin-top: 156px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 90px;
}

.leader .leader-vr .leader-contents .image {
  width: 65%;
}

.leader .leader-vr .leader-contents .image img {
  width: 100%;
  height: 100%;
}

.leader .leader-vr .leader-contents .leader-data {
  position: absolute;
  top: 30%;
  left: 51%;
  z-index: 2;
  background-color: white;
  padding: 92px 0px 0px 78px;
}

.leader .leader-vr .leader-contents .leader-data h3 {
  font-size: 45px;
  color: black;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  margin-bottom: 30px;
  letter-spacing: 1.5px;
}

.leader .leader-vr .leader-contents .leader-data p {
  font-size: 14.5px;
  color: #8c8c8c;
  font-family: 'Alata', sans-serif;
  text-align: left;
  line-height: 2;
}

/* End leader*/
/*Start our creations*/
.creations {
  min-height: 100vh;
  background-color: white;
}

.creations .our-creations {
  width: 100%;
  height: 100%;
}

.creations .our-creations .creation-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 50px;
}

.creations .our-creations .creation-title p {
  font-size: 50px;
  font-weight: 500;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}

.creations .our-creations .creation-title button {
  background-color: black;
  font-size: 15px;
  color: white;
  width: 154px;
  height: 40px;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 5px;
  cursor: pointer;
}

.creations .our-creations .gallery {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
  padding-top: 10px;
}

.creations .our-creations .gallery .group-img1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 118px;
}

.creations .our-creations .gallery .group-img1:first-child {
  margin-bottom: 25px;
}

.creations .our-creations .gallery .group-img1 .gallery-imgs {
  width: 23%;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.creations .our-creations .gallery .group-img1 .gallery-imgs:hover img {
  opacity: 0.3;
}

.creations .our-creations .gallery .group-img1 .gallery-imgs img {
  width: 100%;
}

.creations .our-creations .gallery .group-img1 .gallery-imgs .text-img {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 78%;
  text-align: left;
  width: 71%;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}

.creations .our-creations .gallery .group-img1 .gallery-imgs p {
  font-size: 28px;
  color: white;
  text-transform: uppercase;
  opacity: 1;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  height: 0;
}

.creations .our-creations .gallery .group-img1:hover .text-img p {
  color: black;
}

/*End our creations*/
/*Start footer*/
footer {
  width: 100%;
  background-color: black;
  color: white;
}

footer nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

footer nav .footer-nav1 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer nav .footer-nav1 p {
  font-size: 30px;
  font-weight: bolder;
}

footer nav .footer-nav1 .footer-link1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 140px;
}

footer nav .footer-nav1 .footer-link1 i {
  display: block;
  font-size: 24px;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}

footer nav .footer-nav1 .footer-link1 i:hover {
  padding-bottom: 8px;
  border-bottom: 2px solid white;
  margin-bottom: 0px;
  cursor: pointer;
}

footer nav .footer-nav2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 12px;
}

footer nav .footer-nav2 .footer-link2 {
  width: 35%;
  margin-top: 17px;
}

footer nav .footer-nav2 .footer-link2 ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer nav .footer-nav2 .footer-link2 ul li a {
  color: white;
  font-family: 'Alata', sans-serif;
  font-size: 15px;
}

footer nav .footer-nav2 .footer-link2 ul li a:hover {
  padding-bottom: 8px;
  border-bottom: 2px solid white;
  margin-bottom: 0px;
}

footer nav .footer-nav2 .footer-copyright p {
  color: #8c8c8c;
  font-family: 'Alata', sans-serif;
  font-size: 15px;
}

/*End footer*/
/*# sourceMappingURL=style.css.map */